.info {
    white-space: nowrap;
    color: #111111;
    line-height: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    span {
        cursor: pointer;
    }
    @media (max-width: 1100px) {
        flex-direction: column;
        justify-content: flex-start;
    }
    .undertext {
        color: #3F4E65;
        font-weight: 300;
    }
    .address {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 32px;
        @media (max-width: 1100px) {
            margin: 20px 0 0 0;
        }
        &::before {
            position: absolute;
            content: url('../../../../public/images/header/location.png');
            left: -34px;
            top: 10px;
        }
    }
    .mail {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 75px;
        @media (max-width: 1100px) {
            margin: 15px 0;
        }
        &::before {
            position: absolute;
            content: url('../../../../public/images/header/mail.png');
            left: -34px;
            top: 10px
        }
    }
    .number {
        display: none;
        position: relative;
        @media (max-width: 1100px) {
            margin: 0;
        }
        &::before {
            position: absolute;
            content: url('../../../../public/images/header/phone.png');
            left: -34px;
            top: 10px
        }
        @media (max-width: 1100px) {
            display: flex;
            flex-direction: column;
        }
    }
    .time {
        display: none;
        font-weight: 300;
        font-size: 12px;
        line-height: 150%;
        @media (max-width: 1100px) {
            display: block;
        }
    }
    .requestCall {
        display: none;
        margin-top: 20px;
        position: relative;
        font-size: 10px;
        line-height: 150%;
        text-decoration-line: underline;
        &::before {
            position: absolute;
            content: url('../../../../public/images/header/phoneCircle.png');
            left: -40px;
            top: -8px;
        }
        @media (max-width: 1100px) {
            display: block;
        }
    }
}