.container {
    width: 100%;
    margin-top: 45px;
    @media (max-width: 1100px) {
        padding-top: 20px;
        margin-top: 0;
    }
    .content {
        margin: 0 auto;
        width: 71.15%;
        @media (max-width: 500px) {
            width: 90.625%;
        }
        .info {
            margin-top: 65px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            @media (max-width: 1500px) {
                flex-direction: column;
                align-items: center;
            }
            @media (max-width: 500px) {
                align-items: flex-start;
            }
            .image {
                width: 48.61%;
                height: 24.53%;
                display: flex;
                justify-content: center;
                @media (max-width: 700px) {
                    margin: 0 auto;
                }
                img {
                    max-width:100%; height:auto;
                }
            }
            .blockInfo {
                display: flex;
                flex-direction: column;
                width: 45.97%;
                margin-left: 40px;
                @media (max-width: 1500px) {
                    width: 90%;
                    margin: 0;
                }
                .about {
                    margin: 35px 0 35px 0;
                    height: fit-content;
                    .stock {
                        font-weight: 500;
                        line-height: 130%;
                        color: #1FD85D;
                        @media (max-width: 1500px) {
                            width: 100%;
                            display: block;
                            text-align: center;
                        }
                        @media (max-width: 676px) {
                            text-align: left;
                        }
                    }
                }
                .name {
                    width: 628px;
                    font-weight: 800;
                    font-size: 30px;
                    line-height: 150%;
                    color: #111111;
                    @media (max-width: 1500px) {
                        margin-bottom: 20px;
                        font-size: 20px;
                        width: 100%;
                        text-align: center;
                    }
                    @media (max-width: 676px) {
                        font-size: 16px;
                        text-align: left;
                    }
                    .title {
                        font-weight: 500;
                        margin-left: 5px;
                    }
                }
                .weight {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-size: 12px;
                    line-height: 130%;
                    margin: 10px 0 25px 0;
                    @media (max-width: 1500px) {
                        display: none;
                    }
                    .value {
                        margin-left: 5px;
                    }
                }
                .interaction {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    @media (max-width: 1500px) {
                        justify-content: center;
                    }
                    @media (max-width: 700px) {
                        flex-wrap: wrap;
                    }
                    @media (max-width: 400px) {
                        justify-content: flex-start;
                    }
                    .priceButton {
                        color: #FFFFFF;
                        background: #FFC85E;
                        border-radius: 79px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        line-height: 17px;
                        font-weight: 700;
                        font-size: 14px;
                        gap: 12px;
                        width: 184px;
                        height: 59px;
                        margin-left: 38px;
                        &:hover {
                            background-color: #fad074;
                        }
                        &:active {
                            background-color: #fcd58d;
                        }
                        @media (max-width: 676px) {
                            margin: 0;
                            position: absolute;
                            left: 0;
                            top: 40px;
                        }
                    }
                    .price {
                        white-space: nowrap;
                        font-weight: 800;
                        font-size: 30px;
                        line-height: 130%;
                        color: #111111;
                        margin-right: 40px;
                        @media (max-width: 1500px) {
                            font-size: 20px;
                            margin: 0;
                        }
                        @media (max-width: 700px) {
                        }
                    }
                }
                .more {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-top: 20px;
                    justify-content: center;
                    @media (max-width: 676px) {
                        margin-top: 80px;
                    }
                    .share {
                        cursor: pointer;
                        box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        width: 57px;
                        height: 57px;
                        @media (max-width: 676px) {
                            margin: 0;
                            position: absolute;
                            right: -10px;
                            top: -75px;
                        }
                    }
                    .promotion {
                        box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
                        border-radius: 10px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 316px;
                        height: 77px;
                        text-align: center;
                        font-size: 12px;
                        margin: 0 10px;
                        font-weight: 500;
                        white-space: nowrap;
                    }
                    .priceList {
                        box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
                        border-radius: 10px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        gap: 10px;
                        width: 186px;
                        height: 77px;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        color: #3F4E65;
                        background: #FFFFFF;
                    }
                }
                .characteristics {
                    display: flex;
                    flex-direction: column;
                    span {
                        margin-bottom: 5px;
                    }
                    @media (max-width: 1500px) {
                        width: 100%;

                    }
                    .value {
                        font-weight: 500;
                        line-height: 150%;
                        color: #111111;
                    }
                    .subtitle {
                        cursor: pointer;
                        width: fit-content;
                        font-weight: 500;
                        font-size: 16px;
                        color: #111111;
                        margin: 30px 0 15px 0;
                        position: relative;
                        &:after {
                            position: absolute;
                            content: url('../../../public/images/product/arrow.png');
                            right: -12px;
                            top: -2px;
                        }
                    }
                    .ch {
                        &:before {
                            pointer-events: none;
                            position: absolute;
                            content: url('../../../public/images/product/border.png');
                            bottom: 34px;
                        }
                    }
                    .rotate {
                        &:after {
                            position: absolute;
                            content: url('../../../public/images/product/arrow.png');
                            right: -12px;
                            top: 3px;
                            transform: rotate(180deg);
                        }
                    }
                    p {
                        margin-bottom: 10px;
                        font-weight: 300;
                        font-size: 12px;
                        width: 611px;
                        @media (max-width: 1500px) {
                            width: 100%;
                        }
                    }
                }
            }  
        }
    }
}