.container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-top: 1px solid #d9dce0;
    border-bottom: 1px solid #d9dce0;
    .content {
        height: 109px;
        width: 71.15%;
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
            cursor: pointer;
        }
        .nav {
            margin-left: 38px;
            display: flex;
            flex-direction: row;
            button {
                font-size: 14px;
                color: white;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px 19px;
                gap: 12px;
                background: #FFC85E;
                border-radius: 79px;
                width: 192px;
                height: 59px;
                font-weight: 700;
                line-height: 17px;
                margin: 0 15px 0 0;
            }
        }
        .data {
            margin-left: 35px;
            display: flex;
            flex-direction: row;
            margin-right: 50px;
            img {
                height: 100%;
                width: auto;
                cursor: pointer;
            }
            .text {
                display: flex;
                flex-direction: column;
                margin-right: 10px;
                justify-content: center;
                align-items: flex-end;
                color: #3F4E65;
                .number {
                    color: #111111;
                    font-weight: 600;
                    line-height: 150%;
                }
                .time {
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 150%;
                    margin-top: 5px;
                }
                .orderCall {
                    font-size: 10px;
                    line-height: 150%;
                    text-decoration-line: underline;
                    margin-top: 5px;
                    cursor: pointer;
                }
            }
        }
        .basket {
            margin-left: 51px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .basketIcon {
                text-align: center;
                margin-right: 28px;
                position: relative;
                .basketCounter {
                    position: absolute;
                    padding-top: 2px;
                    width: 22px;
                    height: 22px;
                    background: center no-repeat url('../../../public/images/menu/basketCounter.png');
                    font-weight: 700;
                    line-height: 17px;
                    color: #FFFFFF;
                    top: 0;
                    right: -2px
                }
            }
            .sum {
                display: flex;
                flex-direction: column;
                span {
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 150%;
                }
              .money {
                white-space: nowrap;
                font-weight: 600;
                font-size: 14px;
                line-height: 150%;
                color: #111111;
              }  
            }
        }
    }
}    