.container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    .content {
        margin: 0 auto;
        width: 71.15%;
        h2 {
            margin-bottom: 15px;
            display: inline;
            font-weight: 800;
            font-size: 40px;
            line-height: 120%;
            text-transform: uppercase;
            color: #FFC85E;
            &:last-child {
                font-weight: 500;
                color: black
            }
        }
        p {
            font-weight: 300;
            font-size: 20px;
            line-height: 120%;
            margin-bottom: 50px;
        }
        .cards {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .cardItem {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    height: auto;
                    width: 100%;
                }
                span {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 130%;
                    color: #111111;
                }
            }
        }
    }
}