.container {
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  width: 100%;
  min-width: 290px;
  height: 490px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 42px 6.77% 29px 6.77%;
  transition: all ease-in 0.2s;
  &:hover {
    box-shadow: 0px 15px 39px -11px rgb(134, 126, 126);
  }
  @media (max-width: 850px) {
    width: 100%;
  }
  .image {
    cursor: pointer;
    width: fit-content;
    padding: 0 35px;
    margin: auto;
    display: flex;
    justify-content: center;
    img {
      object-fit: cover;
      max-width: 90%;
      height: auto;
    }
  }
  .size {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 130%;
    display: flex;
    align-items: center;
    span {
      margin-left: 5px;
    }
  }
  .productName {
    cursor: pointer;
    color: #111111;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow-y: hidden;
    .brand {
      font-weight: 700;
      margin-right: 5px;
    }
  }
  .item {
    padding-bottom: 5px;
    font-weight: 300;
    .value {
      margin-left: 5px;
      font-weight: 500;
      color: #111111;
    }
  }
  .order {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    span {
      font-weight: 800;
      font-size: 16px;
      line-height: 130%;
      color: #111111;
      white-space: nowrap;
    }
    button {
      white-space: nowrap;
      margin-left: auto;
      margin-right: 25px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: white;
      background: #ffc85e;
      border-radius: 80px;
      padding: 10px 19px;
      gap: 5px;
      width: 54.3%;
      height: 49px;
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.15em;
      &:hover {
        background-color: #fad074;
      }
      &:active {
        background-color: #fcd58d;
      }
      @media (max-width: 850px) {
        width: 40%;
      }
      @media (max-width: 550px) {
        margin-right: 0;
        width: 153px;
      }
    }
  }
}
