.container {
    background: #FFFFFF;
    box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 282px;
    height: 419px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 42px 22px 29px 22px;
    &:hover {
        box-shadow: 0px 15px 39px -11px rgb(134, 126, 126);
    }
    .image {
        cursor: pointer;
        width: fit-content;
        padding: 0 35px;
        margin: auto;
        img {
            max-width: 100%;
            height: auto;  
        } 
    }
    .size {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 130%;
        display: flex;
        align-items: center;
        span {
            margin-left: 5px;
        }
    }
    .productName {
        cursor: pointer;
        color: #111111;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 15px;
        .brand {
            font-weight: 700;
            margin-right: 5px;

        }
    }
    .item {
        padding-bottom: 5px;
        font-weight: 300;
        .value {
            margin-left: 5px;
            font-weight: 500;
            color: #111111;
        }
    }
    .order {
        display: flex;
        flex-direction: row;
        align-items: center;
        span {
            font-weight: 800;
            font-size: 16px;
            line-height: 130%;
            color: #111111;
        }
        button {
            margin-left: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: white;
            background: #FFC85E;
            border-radius: 80px;
            padding: 10px 19px;
            gap: 5px;
            width: 153px;
            height: 49px;
            font-weight: 700;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.15em;
        }
    }
}