.container {
      cursor: pointer;
      width: fit-content;
      display: none;
      position: relative;
      &:before {
          position: absolute;
          content: url('../../../public/images/ui/backArrow.png');
          top: 8px;
          left: 12px;
      }
      @media (max-width: 1100px) {
          display: flex;
          align-items: center;
      }
      span {
          margin-left: 5px;
          font-weight: 600;
          font-size: 10px;
          line-height: 120%;
          letter-spacing: 0.14em;
          text-transform: uppercase;
          color: #3F4E65;
      }
}