.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 45px;
  .content {
    width: 71.15%;
    h2 {
      font-weight: 500;
      font-size: 40px;
      line-height: 120%;
      color: black;
      text-transform: uppercase;
      width: fit-content;
      margin: 50px 0;
    }
    h3 {
      font-weight: 500;
      font-size: 30px;
      line-height: 120%;
      color: black;
      width: fit-content;
      margin: 50px 0;
    }
    .addProduct {
      display: flex;
      justify-content: center;
      div {
        color: white;
        background-color: #65e38d;
        box-shadow: 0px 15px 39px -11px rgb(134, 126, 126);
        border-radius: 10px;
        cursor: pointer;
        width: fit-content;
        height: 70px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}