.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    @media (max-width: 1100px) {
        padding-top: 20px;
        margin-top: 0;
    }
    .content {
        width: 71.15%;
        @media (max-width: 500px) {
            width: 90.625%;
        }
        h2 {
            font-weight: 500;
            font-size: 40px;
            line-height: 120%;
            color: black;
            text-transform: uppercase;
            width: fit-content;
            margin: 50px 0;
            @media (max-width: 1500px) {
                font-size: 30px;
            }
            @media (max-width: 1100px) {
                font-size: 20px;
            }
        }
        h3 {
            font-weight: 500;
            font-size: 30px;
            line-height: 120%;
            color: black;
            width: fit-content;
            margin: 50px 0;
            @media (max-width: 1500px) {
                font-size: 25px;
            }
            @media (max-width: 1100px) {
                font-size: 16px;
            }
        }
        .addProduct {
            display: flex;
            justify-content: center;
            .close {
                background-color: #FFC85E;
                &:hover {
                    background-color: #fad074;
                }
                &:active {
                    background-color: #fcd58d;
                }
            }
            button {
                color: white;
                background-color: #65e38d;
                box-shadow: 0px 15px 39px -11px rgb(134, 126, 126);
                border-radius: 10px;
                width: 177px;
                height: 70px;
                padding: 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;
                &:hover {
                    background-color: #47f37c;
                }
                &:active {
                    background-color: #23fc66;
                }
                @media (max-width: 1300px) {
                    height: 50px;
                }
            }
        }
    }
}