.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
    .content {
        width: 675px;
        height: 364px;
        background: #FFFFFF;
        border-radius: 8px;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
}
.active {
    display: flex;
    justify-content: center;
    align-items: center;
}