.container {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 14px 39px -11px rgba(0, 0, 0, 0.06);
    &:hover {
        box-shadow: 0 5px 15px -5px rgb(134, 126, 126);
    }
    .content {
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1730px) {
            flex-direction: column;
            height: 300px;
            padding: 20px 0;
        }
        .info {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            width: 55%;
            @media (max-width: 1730px) {
                width: 80%;
            }
            .image {
                margin-right: 30px;
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    max-width:100%;
                    max-height:100%;
                }
            }
            .text {
                display: flex;
                flex-direction: row;
                width: fit-content;
                @media (max-width: 1100px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                .id {
                    margin-right: 10px;
                }
                .brand {
                    margin-right: 10px;
                    font-weight: 500;
                }
            }
        }
        .btns {
            display: flex;
            flex-direction: row;
            @media (max-width: 1730px) {
                margin-top: 15px;
            }
            button {
                color: white;
                padding: 10px 19px;
                gap: 12px;
                background: #FFC85E;
                border-radius: 79px;
                width: 192px;
                height: 59px;
                font-weight: 700;
                line-height: 17px;
                margin: 0 15px 0 0;
                &:hover {
                    background-color: #fad074;
                }
                &:active {
                    background-color: #fcd58d;
                }
                @media (max-width: 1100px) {
                    padding: 0;
                    font-size: 12px;
                    width: 120px;
                    height: 49px;
                }
                &:last-child {
                    background-color: #ff7676;
                    &:hover {
                        background-color: #fc5050;
                    }
                    &:active {
                        background-color: #f83636;
                    }
                }
            }
        }
    }
    .changeProduct {
        margin: 0 auto;
        width: 80%;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            color: #3F4E65;
            display: inline-block;
            width: 100%;
            margin: 20px 0;
            font-size: 25px;
            text-align: center;
            @media (max-width: 1100px) {
                font-size: 16px;
            }
        }
        .options {
            margin: 10px 0;
            display: flex;
            flex-direction: column;
        }
        .dropdownCheckbox{
            position:relative;
            display:inline-block;
            &:hover ul{
                display:block
            }
            .labelTitle{
                font-size:13px;
            }
            ul{
                background-color: #9c9c9c;
                position: absolute;
                list-style: none;
                min-width: 180px;
                margin: 0;
                padding:0;
                left:0;
                display:none;
                z-index:1;
                border: 1px solid #9c9c9c;
                li {
                    font-size: 15px;
                    padding: 10px;
                    border-bottom: 1px solid #a5a5a5;
                    margin: 0;
                    input {
                        margin-right:10px;
                    }
                }
            }
        }
    }
}