.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media (max-width: 1500px) {
        font-size: 10px;
    }
    @media (max-width: 1100px) {
        font-size: 14px;
        margin-bottom: 131px;
    }
    @media (max-width: 500px) {
        margin-bottom: 115px;
    }
    .content {
        margin: 0 auto;
        order: 1;
        height: 61px;
        width: 71.15%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1100px) {
            width: 100%;
            background-color: white;
            z-index: 100;
            left: 0;
            top: 130px;
            position: fixed;
            flex-direction: column;
            justify-content: flex-start;
            height: fit-content;
            padding-bottom: 32px;
        }
        @media (max-width: 500px) {
            top: 100px;

        }
        .info {
            white-space: nowrap;
            color: #111111;
            line-height: 18px;
            font-weight: 600;
            display: flex;
            flex-direction: row;
            span {
                cursor: pointer;
            }
            @media (max-width: 1100px) {
                flex-direction: column;
                justify-content: flex-start;
            }
            .undertext {
                color: #3F4E65;
                font-weight: 300;
            }
            .address {
                position: relative;
                display: flex;
                flex-direction: column;
                margin-left: 32px;
                @media (max-width: 1100px) {
                    margin: 20px 0 0 0;
                }
                &::before {
                    position: absolute;
                    content: url('../../../public/images/header/location.png');
                    left: -34px;
                    top: 10px;
                }
            }
            .mail {
                position: relative;
                display: flex;
                flex-direction: column;
                margin-left: 75px;
                @media (max-width: 1100px) {
                    margin: 15px 0;
                }
                &::before {
                    position: absolute;
                    content: url('../../../public/images/header/mail.png');
                    left: -34px;
                    top: 10px
                }
            }
            .number {
                display: none;
                position: relative;
                @media (max-width: 1100px) {
                    margin: 0;
                }
                &::before {
                    position: absolute;
                    content: url('../../../public/images/header/phone.png');
                    left: -34px;
                    top: 10px
                }
                @media (max-width: 1100px) {
                    display: flex;
                    flex-direction: column;
                }
            }
            .time {
                display: none;
                font-weight: 300;
                font-size: 12px;
                line-height: 150%;
                @media (max-width: 1100px) {
                    display: block;
                }
            }
            .requestCall {
                display: none;
                margin-top: 20px;
                position: relative;
                font-size: 10px;
                line-height: 150%;
                text-decoration-line: underline;
                &::before {
                    position: absolute;
                    content: url('../../../public/images/header/phoneCircle.png');
                    left: -40px;
                    top: -8px;
                }
                @media (max-width: 1100px) {
                    display: block;
                }
            }
        }
        h3 {
            display: none;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            color: #3F4E65;
            margin-top: 50px;
            @media (max-width: 1100px) {
                display: block;
                margin: 50px auto 0 auto;
            }
            @media (max-width: 500px) {
                margin: 50px auto 0 12px;
            }
        }
        nav {
            display: flex;
            justify-content: space-between;
            width: 37.48%;
            @media (max-width: 1100px) {
                flex-direction: column;
                margin-top: 25px;
            }
            @media (max-width: 500px) {
                width: 90%;
            }
            .link {
                white-space: nowrap;
                cursor: pointer;
                line-height: 150%;
                @media (max-width: 1500px) {
                    font-size: 10px;
                }
                @media (max-width: 1100px) {
                    margin: 0 auto 20px auto;
                    font-size: 14px;
                }
                @media (max-width: 500px) {
                    margin: 0 0 20px 0;
                }
            }
        }
        .priceBtn {
            display: none;
            color: #FFFFFF;
            background: #FFC85E;
            border-radius: 79px;
            line-height: 17px;
            font-weight: 700;
            font-size: 14px;
            gap: 15px;
            width: 290px;
            height: 70px;
            @media (max-width: 1100px) {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .mobile {
        background-color: white;
        padding-top: 15px;
        display: none;
        margin: 0 auto;
        width: 100%;
        order: -1;
        @media (max-width: 1100px) {
            z-index: 100;
            display: block;
            position: fixed;
            top: 0;
            left: 0;
        }
        .head {
            margin: 0 auto;
            width: 71.15%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 500px) {
                width: 90.625%
            }
            .logo {
                @media (max-width: 500px) {
                    width: 97px;
                    height: 41px;
                }
            }
        }
        .btns {
            padding: 0 15.63% 0 15.63%;
            display: flex;
            align-items: center;
            margin-top: 10px;
            height: 40px;
            width: 100%;
            justify-content: center;
            box-sizing: border-box;
            border-top: 1px solid #d9dce0;
            border-bottom: 1px solid #d9dce0;
            span {
                margin-left: 7px;
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
            }
            .catalog {
                cursor: pointer;
                margin: 0 47px;
                display: flex;
                align-items: center;
            }
        }
    }
}
.hiddenContent {
    display: none;
}