.container {
    width: 100%;
    color: white;
    margin-top: 100px;
    background-color: #3F4E65;
    height: 429px;
    line-height: 150%;
    padding-top: 71px;
    @media (max-width: 1500px) {
        height: fit-content;
    }
    @media (max-width: 698px) {
        margin-top: 50px;
    }
    .content {
        z-index: 0;
        position: relative;
        margin: 0 auto;
        width: 71.15%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (max-width: 1500px) {
            flex-wrap: wrap;
        }
        @media (max-width: 600px) {
            width: 90.625%;
        }
        .column {
            order: 0;
            display: flex;
            flex-direction: column;
            @media (max-width: 796px) {
                margin: 30px;
            }
            @media (max-width: 470px) {
                margin: 10px;
            }
            @media (max-width: 380px) {
                margin: 0;
            }
            &:first-child {
                @media (max-width: 1500px) {
                    margin-bottom: 45px;
                    width: 100%;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
                @media (max-width: 1250px) {
                    flex-direction: column;
                    height: 260px;
                }
                @media (max-width: 950px) {
                    padding-left: 110px;
                    align-items: flex-start;
                }
                @media (max-width: 796px) {
                    padding-left: 0;
                }
            }
            &:last-child {
                @media (max-width: 400px) {
                    order: 1;
                }
            }
            &:nth-last-child(2) {
                @media (max-width: 400px) {
                    margin-top: 40px;
                    order: 2;
                }
            }
            .end {
                display: flex;
                flex-direction: row;
            }
            .inputBlock {
                position: relative;
                width: 252px;
                @media (max-width: 1500px) {
                    width: 160px;
                }
                @media (max-width: 1250px) {
                    width: 252px;
                }
                input {
                    width: 252px;
                    background-color: #EDEDED;
                    border-radius: 36px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 13px 10px 13px 20px;
                    font-size: 12px;
                    line-height: 150%;
                    height: 33px;
                    &::placeholder {
                        opacity: 0.6;
                    }
                    @media (max-width: 1500px) {
                        width: 160px;
                    }
                    @media (max-width: 1250px) {
                        width: 252px;
                    }
                }
                .icon {
                    cursor: pointer;
                    position: absolute;
                    top: 10px;
                    right: -20px;
                }
            }
            .priceButton {
                color: #FFFFFF;
                background: #FFC85E;
                border-radius: 79px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                line-height: 17px;
                font-weight: 700;
                font-size: 14px;
                gap: 12px;
                width: 100%;
                height: 59px;
                max-height: 59px;
                min-height: 20px;
                @media (max-width: 1500px) {
                    width: 149px;
                    height: 40px;
                    gap: 7px;
                }
                @media (max-width: 950px) {
                    position: absolute;
                    top: 0;
                }
                @media (max-width: 796px) {
                    top: 33px;
                    right: 0;
                }
                @media (max-width: 470px) {
                    top: 0;
                }
            }
            .logo {
                width: 156px;
                height: 66px;
                margin-bottom: 15px;
                @media (max-width: 950px) {
                    width: 97px;
                    height: 41px;
                }
            }
            .link {
                margin-bottom: 20px;
                cursor: pointer;
            }
            p {
                font-size: 16px;
                width: 320px;
                margin-bottom: 45px;
                @media (max-width: 1500px) {
                    margin-bottom: 0;
                }
                @media (max-width: 1250px) {
                    text-align: center;
                }
                @media (max-width: 1250px) {
                    text-align: start;
                }
                @media (max-width: 950px) {
                    font-size: 12px;
                }
                @media (max-width: 400px) {
                    width: fit-content;
                }
            }
            span {
                font-size: 12px;
                margin-bottom: 15px;
            }
           
            .head {
                font-weight: 600;
                font-size: 20px;
                margin-bottom: 25px;
            }
            .download {
                @media (max-width: 950px) {
                    display: none;
                }
            }
            .connect {
                margin-top: 20px;
                @media (max-width: 950px) {
                    margin-top: 0;
                }
                @media (max-width: 400px) {
                    width: 123px;
                }
            }
            .number {
                font-weight: 600;
                margin-bottom: 3px;
            }
            .time {
                font-weight: 300;
                font-size: 12px;
                margin-bottom: 3px;
            }
            .call {
                margin-bottom: 25px;
                text-decoration-line: underline;
                font-size: 10px;
                cursor: pointer;
            }
            .mail {
                font-weight: 600;
                line-height: 18px;
                margin-bottom: 25px;
            }
            img {
                cursor: pointer;
            }
            .messenger {
                margin-right: 10px;
            }
            .card {
                margin-right: 5px;
            }
        }
    }
}