.btns {
    display: flex;
    flex-direction: row;
    button {
        background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
        border-radius: 1000px;
        width: 34px;
        height: 23px;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #3F4E65;
        &:disabled {
            background-color: rgb(241, 185, 185);
            cursor: default;
        }
    }
    div {
        width: 45px;
        text-align: center;
    }
}