@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Prata&display=swap');
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

html, body {
  height: 100%;
  width: 100%;
  color: #3F4E65;
  line-height: 150%;
  font-weight: 400;
  font-size: 14px;
}

body {
  width: 100%;
  font-size: 14px;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav, footer, header, aside {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

button {
  font-family: Inter;
  cursor: pointer;
}

a { 
  text-decoration: none;
  color: inherit;
}
