.priceButton {
    color: #FFFFFF;
    background: #FFC85E;
    border-radius: 79px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 19px;
    line-height: 17px;
    font-weight: 700;
    font-size: 14px;
    gap: 12px;
    width: 200px;
    height: 59px;
}