.container {
    width: 100%;
    height: 796px;
    background: center no-repeat url('../../../public/images/banner/banner.jpg');
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    color: white;
    .content {
        width: 570px;
        height: fit-content;
        margin-left: 14.16%;
        h1 {
            font-weight: 500;
            font-size: 70px;
            line-height: 110%;
            margin-bottom: 40px;
        }
        h3 {
            font-weight: 800;
            font-size: 30px;
            line-height: 150%;
            text-transform: uppercase;
            margin-bottom: 60px;
        }
        button {
            width: 300px;
            height: 95px;
            color: white;
            background: #FFC85E;
            border-radius: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 19px;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;            
            letter-spacing: 0.15em;
            margin-bottom: 90px;                     
        }
        .pluses {
            margin-left: 49px;
            display: flex;
            flex-direction: row;
            font-weight: 400;
            line-height: 150%;
            .preference {
                margin-right: 84px;
                position: relative;
                &:last-child {
                    margin: 0;
                }
                .circle {
                    position: absolute;
                    left: -49px; 
                }
                .bold {
                    font-weight: bold;
                }
            }
        }
    }
}